@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #0f0e17;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
html {
  scroll-behavior: smooth;
}
.container {
  display: flex;
  justify-content: center;
}
.nav {
  background-color: #242629;
  position: fixed;
  bottom: 0;
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 40px;
  z-index: 9999;
}
.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.nav li {
  padding: 8px;
}
.nav li a {
  display: block;
  text-decoration: none;
  color: #fffffe;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  letter-spacing: 0.8px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
}
.actived, .nav li a:hover {
  background-color: #ff8906;
  color: #fffffe;
  border-radius: 50px;
  animation: scale-up-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* HEADER LOGO */

header h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fffffe;
  padding-left: 40px;
}


/* SECTION HERO */

.hero {
  padding: 100px 0 0 40px; 
}


.hero h1 {
  font-family: 'Work Sans', sans-serif;
  color: #fffffe;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
}

/* SECTION HERO TEXT */

.hero-text {
  padding: 80px 0 0 40px;
}
.hero-text p {
  width: 90%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #a7a9be;
}

/* Section Work */

.work {
  padding: 50px 0 0 40px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
.work h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 1px;
  color: #fffffe;
  text-transform: uppercase;
}
.work * h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #72757e;
  padding: 50px 0 30px 0;
  letter-spacing: 1px;
}
.work * span {
  color: #fffffe;
  text-transform: uppercase;
}
.work * p {
  width: 90%;
  color: #a7a9be;
  font-size: 15px;
  /*text-transform: capitalize;*/
}

/* Picture Me */
.me {
  display: flex;
  /*justify-items: space-between;*/
  padding: 130px 0;
  overflow: hidden;
}
.pic-me-1 {
  width: 200px;
  height: 130px;
  background-image: url("about/coffe.webp");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transform: translateX(-20px);
}
.pic-me-2 {
  width: 200px;
  height: 250px;
  background-image: url("about/comp.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  transform: translate(20px, -50px);
}

/* Career */
.career {
  transform: translateY(-50px);
  padding-left: 40px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.career h3, .skill h3 {
  color: #fffffe;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
.career * h4, .skill * h4 {
  font-size: 20px;
  color: #fffffe;
}
.career * span {
  color: #a7a9be;
  font-size: 18px;
}

/* Progres*/
.skill {
  padding: 50px 0 0 40px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.progress {
  width: 80% !important;
  background-color: #72757e !important;
}
.determinate {
  background-color: #7f5af0 !important;
}

/* Footer */
footer {
  letter-spacing: 1px;
}
footer ul.navlink {
  list-style-type: none;
  padding: 100px 0 0 40px;
}
footer ul.navlink > li a {
  display: block;
  color: #fffffe;
  padding: 10px 0;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;
}
footer ul.secnav-link {
  list-style-type: none;
  padding: 80px 0 0 40px;
}
footer ul.secnav-link > li a {
  display: block;
  color: #fffffe;
  padding: 30px 0 0 80px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;
}
footer p {
  margin-bottom: 100px;
  padding: 50px;
  color: #fffffe;
}
footer * a:hover {
  text-decoration: underline;
}

/* Responsive */
@media only screen and (min-width: 768px) {
  .work, .hero, .hero-text, header,
  .me, .career, .skill {
    padding-left: 80px;
  }
  .explore, .refine {
    width: 50%;
  }
  .excute {
    margin-left: 30rem;
  }
  .me {
    justify-content: center;
  }
  .pic-me-1 {
    width: 300px;
    height: 250px;
  }
  .pic-me-2 {
    width: 350px;
    height: 450px;
  }
  footer ul.navlink {
    display: flex;
    justify-content: space-evenly;
  }
}
